<!--
  使用 GitHub 头像作为 favicon
  如需自定义图标，可改为本地文件：assets/img/favicons/
-->

{% capture favicon_path %}{{ '/assets/img/favicons' | relative_url }}{% endcapture %}
{% assign avatar_url = 'https://github.com/' | append: site.github.username | append: '.png' %}

<link rel="icon" type="image/png" href="{{ avatar_url }}?s=96" sizes="96x96">
<link rel="shortcut icon" href="{{ avatar_url }}?s=32">
<link rel="apple-touch-icon" sizes="180x180" href="{{ avatar_url }}?s=180">
{% if site.pwa.enabled %}
  <link rel="manifest" href="{{ favicon_path }}/site.webmanifest">
{% endif %}
